<a href="https://colab.research.google.com/github/akshaypatwari47/ML/blob/master/day_16(11_6_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import panda as pd # Loading the data

In [4]:
import pandas as pd
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)

placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

In [0]:
#How to write the logic mentioned
-The communication should be greater than 6

In [7]:
placement_data['Communication'] >6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [0]:
st= [311,6]
def placement_prediction(st):
  if st[1]>6:
    return "YES"
  else:
    return "NO"

In [9]:
 placement_prediction(st)

'NO'

In [10]:
 placement_prediction([469,8.9])

'YES'

#Using machine learning
Machine learning used bcoz getting to know the rule required for prediction is difficult

In [0]:
#Algorithm ,Model
    
-->Decision Tree classifier
-->Available DTC

In [0]:
Decision Tree classifier:
-fit(features,target)  or fit(inputs,outputs)
  -Communication
  -Placed
  features-2d  array
  placed - 1d array
-predict

In [12]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [13]:
placement_data[['Communication']]#get communication column as 2d array

   Communication
0              7
1              6
2              5
3              8
4              9

In [15]:
import sklearn#ML algorithm
from sklearn.tree import DecisionTreeClassifier#Decision Tree classifier
dtc = DecisionTreeClassifier()
dtc.fit(placement_data[['Communication']],placement_data[['Placed']])
#After you run above line you will get trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [16]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [17]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [18]:
#predict for unknown student data
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [19]:
dtc.predict([[8],[7.4],[3.5]])

array(['Yes', 'Yes', 'No'], dtype=object)

In [20]:
#Labelled and unlabelled data
-labelled means along with placed column
-unlabelled without placed column

SyntaxError: ignored

In [21]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [22]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [23]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#Training the model with two features
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])
#after this cell in variable lr we have trained model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

y = m1x1 +m2x2

In [24]:
lr.coef_ #m1 and m2

array([2.5, 2. ])

In [26]:
lr.intercept_

10.0

In [27]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [28]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

In [29]:
#Question1 
def L(x):return x[1:]+x[0]
def R(x):return x[-1]+x[0:len(x)-1]
n = int(input())
list1 = [input() for i in range(n)]
for x in list1:
  print("YES") if L(x) == R(x) else print("NO")

1
ac
YES